*.orig
*.rej
*.so
*.swp
*.test
*.vmlinuz
*.xz
*.zip
*~
*#*#
/goes-boot
/goes-boot-arm
/goes-boot-platina-mk1
/goes-bootrom
/goes-bootrom-arm
/goes-bootrom-platina-mk1
/*.patch
*.rom
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
*.substvars
debian/goes-boot-example-amd64/
debian/goes-boot-mk1/
/worktrees
